<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="{{ '/css/font-awesome-4.5.0/css/font-awesome.min.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/css/main.css' | relative_url }}">
  <meta name="description" value="Nyack Community Garden in Nyack, NY, USA">
  <meta name="keywords" value="garden, vegetable, community">
  <meta name="robots" content="index, follow" />
  {% include analytics.html %}
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
        "@type": "LocalBusiness",
          "name": "Nyack Community Garden",
            "address": {
        "@type": "PostalAddress",
          "streetAddress": "51 South Franklin Street",
            "addressLocality": "Nyack",
              "addressRegion": "NY",
                "postalCode": "10960"
      },
      // Add optional properties here (telephone, description, url)
    }
  </script>
</head>
