<ul class="nav nav-major">
	<li class="home"><a href="/">Home</a></li>
	<li class="garden-dates"><a href="/garden-dates/">Garden Dates</a></li>
</ul>
<ul class="nav nav-minor">
	<li class="info"><a href="/info/">About</a></li>
	<li class="apply"><a href="/apply/">How to Apply</a></li>
	<li class="garden-rules"><a href="/garden-rules/">Garden Rules</a></li>
	<li class="blog"><a href="/blog/">Blog</a></li>
	<li class="files"><a href="/files/">Newsletters</a></li>
</ul>
<!-- see css/main.css, around line 230 -->