<!DOCTYPE html>
<html>
{% include header.html %}

<body class="{{ page.pageclass }}">
  <div class="leader">
    <div class="container">
      <ul class="contacts">
        <li><i class="fa fa-envelope"></i>&nbsp;<a
            href="mailto:membership@nyackcommunitygarden.info">membership@nyackcommunitygarden.info</a></li>
      </ul>
    </div>
  </div>
  <div class="header">
    <div class="container">
      <h2 class="title"><a href="/" title="Home page">Nyack Community Garden</a></h2>
    </div>
    {% include navigation.html %}
  </div>
  <div class="content">
    <div class="container">
      <div class="bannerbox">
        <p>
          <b><i>Saturday May 17</i> Seedling Sale at the Garden 9-12, the proceeds go to charity.</b> We'll have
          different tomatoes, some peppers, some basil, and some eggplants.
        </p>
      </div>
      {{ content }}
    </div>
  </div>
  <div class="footer">
    {% include navigation.html %}
    {% include footer.html %}
  </div>
</body>

</html>